.confirmation-page-container{
    display: flex;
    flex-direction: column;
    height: 1920px;
}


.order-confirmed-container{
    display: flex;
    padding-top: 4rem;
    gap: 1.5rem;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}


.success-icon{
    height: 12rem;
    width: 12rem;
}

.order-confirmed-message{
    font-family: var(--font-bebas);
    font-size: 5.62rem;
}

.order-confirmed-order-details-container{
    display: flex;
    padding-bottom: 2rem;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7rem;
}

.order-confirmed-order-details{
    font-family: var(--font-inter);
    font-size: 3.12rem;
   
}

.order-confirmed-instructions{
    display: flex;
    justify-content: center;
    font-family: var(--font-inter);
    font-weight: bold;
    font-size: 3.12rem;
    padding-bottom: 7rem;
}

.confirmation-page-new-order-button{
    display: flex;
    justify-content: center;
}
