.menu-page-container{
    display: flex;
    flex-direction: column;
    height: 1920px;
}


.category-tab{
    margin-top: 4em;
}


.menu-items-container{
    display: grid;
    justify-content: center;
    grid-template-columns: 420px 400px;
    grid-template-rows: 430px 430px;
    gap: 6.5em;
    margin-top: 7.5em;

}

