.menu-page-container{
    display: flex;
    flex-direction: column;
    height: 1920px
}


.category-tab{
    margin-top: 4em;
}


.menu-items-container{
    display: grid;
    gap: 8px;
    grid-template-columns: 520px 520px;
    grid-template-rows: 550px 550px;
    margin-top: 5.8em;
    margin-bottom: -2em;
}

footer{
    height: 13.1rem;
    width: 100%;
    background-color: #FFC107;
    margin-top: auto;
}

footer .cart-footer-section{
    display: flex;
    align-items: center;
    height: 8rem;
    width: 45rem;
    background-color: white;
    border-radius: 20px;
    margin-top: 3em;
    margin-left: 2.1em;
    justify-content: space-between;
}

.view-cart-btn{
    margin-right: 4.2rem;
    margin-top: .4rem;
 
}

.cart-footer-info{
    display: flex;
    align-items: center;
    margin-left: 1.3em;
    
}

.cart-footer-icon{
    width: 6rem;
    height: 3.62rem;
}

.cart-footer-price{
    margin-left: .6rem;
}
.cart-footer-nb-items, .cart-footer-price{
    font-family: 'Inter', sans-serif;
    font-size: 1.87rem;
    font-weight: bold;
}

.cart-footer-price, .cart-footer-nb-item-number{
    color: #4D9C07;
}
