.service-choice-container{
    display: flex;
    flex-direction: column;

}

.service-choice-container h2{
    font-family: 'Inter', sans-serif;
    font-size: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 1.5em;
}

.options-container{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;


}
.dine-in-container, .take-away-container{
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 55.06rem;
    height: 32.68rem ;
    border: 4px solid black;
    border-radius: 17px;
}

.dine-in-img{
    margin-bottom: 4.5em;
    margin-right: 4em;
    height: 23.56rem;
    width: 23.56rem;
}

.take-away-img{
    height: 21.56rem;
    width: 21.56rem;
}

.dine-in-title{
    font-family: 'bebas neue', sans-serif;
    font-size: 6.25rem;  
}

.take-away-title{
    font-family: 'bebas neue', sans-serif;
    font-size: 6.25rem;
    margin-top: .3em;
}

.language-selector-container{
    position: absolute;
    right: 35px;
    bottom: 43px;
   
}