html, body, button, input, textarea {
  caret-color: transparent; /* Cache le curseur de texte */
  overflow: hidden;

}


#root {
  width: 1080px;
  height: 1920px;
  overflow: hidden;
  background: white;
  transform-origin: top center;
  position: absolute;
  left: 50%;
  margin-left: -540px;
  visibility: hidden;
  
}