:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none; /* Enleve le curseur blanc sur les cotés */
}

*, *::before, *::after {
  box-sizing: border-box; /* Crucial pour que les paddings ne déforment pas les cartes */
}